# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Files to ignore
*.dat       # Data files
*fort.*     # Compilation files
**.pyc      # Compilation files

# Case output files and logs
*.log
*.txt
src/tests/*

# Do not update Latex compilation files
main.pdf
*.aux
*.log
*.backup
*.toc
*.spl
*.blg
*.out
*.nlo

# Special directories

# Old GUI and Simulator
ICESym-GUI/*/*.pyc
ICESym-GUI/*.pyc
ICESym-GUI/saves
ICESym-1D/src/build
ICESym-1D/src/fort*
ICESym-1D/src/tests
ICESym-1D/src/exec.py
ICESym-1D/src/simCythonCPP.cpp
# New GUI
ICESym-NEWGUI/scripts/*.pyc
ICESym-NEWGUI/scripts/*_ui.py
ICESym-NEWGUI/scripts/*_rc.py
ICESym-NEWGUI/runs
ICESym-NEWGUI/simulator/exec
ICESym-NEWGUI/simulator/*.so
ICESym-NEWGUI/cases
*.tar.gz
**/dist_win/*
**/dist_linux/*